button {
  display: inline-block;
  padding: 10px 20px;
  margin: 30px;
  color: rgb(27, 21, 34);
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 100px;
  transition: background-color 0.5s;
  background: rgb(255, 235, 14);
  box-shadow: 10px 10px 24px rgb(34, 77, 61);
}

button:hover {
  background-color: rgb(255, 248, 114);
}

button:active {
  background-color: #297910;
}

.textBold {
  font-weight: bolder;
  font-size: 20px;
}
